.conditions-tabs li { display: inline; margin: 5px 0; padding: 5px; }
.woo-conditions.ui-tabs { padding: 0; }
.woo-conditions .ui-tabs-hide { display: none !important; }
.woo-conditions .ui-widget-header { border: none; }
.woo-conditions .conditions-tabs { background:none;padding:3px 0px 0;margin:0;overflow:hidden;zoom:1;line-height:1em; }
.woo-conditions .conditions-tabs li { float:left;padding:0;margin:0 5px 0 0; }
.woo-conditions .conditions-tabs li.alignright { float: right; }
.woo-conditions .conditions-tabs li.hide { display: none; }
.woo-conditions .conditions-tabs li.advanced-settings { margin-right: 1em; }
.woo-conditions .conditions-tabs li.advanced-settings a { background-image: url(../images/icon-settings.png); background-repeat: no-repeat; background-position: 8px 50%; padding-left: 30px; }
.woo-conditions .conditions-tabs li a { padding:0;margin:0;border:0;border:1px solid #d5d5d5;border-bottom:0;float:left;padding:9px 9px;background:#ececec;text-decoration:none;color:#555; }
.woo-conditions .conditions-tabs li.ui-state-active {}
.woo-conditions .conditions-tabs li.ui-state-active a { background: #f8f8f8; color: #555; padding: 0; }
.woo-conditions .conditions-tabs#category-tabs { padding-bottom: 0; padding-left: 1em; }
.woo-conditions .conditions-tabs#category-tabs li { margin-bottom: 0; }
.woo-conditions .conditions-tabs#category-tabs li.ui-state-active a { background: #FFF; padding-bottom: 10px; }
.woo-conditions .conditions-tabs#category-tabs li a { padding: 8px 10px; outline: none; }

#woosidebars-conditions.postbox .inside { background: #FFFFFF; padding: 0; margin: 0; }
#woosidebars-conditions.postbox .inside .condition-tab { background: #FFFFFF; padding: 2px 18px; }
#woosidebars-conditions.postbox .inside .condition-tab h4 { margin-top: 10px; }

#woosidebars-conditions.postbox .conditions-column { display: block; margin: 0 20px 20px 0; }

#woosidebars-conditions.postbox .conditions-tabs-inner { display: block; padding: 10px 0; }
.conditions-tabs-inner li { display: inline; padding: .2em; line-height: 2; margin: 0; }
.conditions-tabs-inner li a { margin-right: 5px; text-decoration: none; }
.conditions-tabs-inner li.ui-state-active a { color: #000000; font-weight: bold; }
#woosidebars-conditions.postbox .inside .condition-tab .condition-tab { padding: 2px 0px; }

.view-switch { display: none; }

#preview-action { display: none; }
#visibility.misc-pub-section { display: none; }

/* Reset and override jQueryUI styling, used by several plugins. */
#woosidebars-conditions.postbox .woo-conditions { background: #eaeaea; border: 0; font-size: 12px; font-weight: normal; font-family: sans-serif; }
#woosidebars-conditions.postbox .conditions-tabs, #woosidebars-conditions.postbox .conditions-tabs-inner { border: 0; border-radius: 0; }
#woosidebars-conditions.postbox .conditions-tabs-inner { background: none; }
#woosidebars-conditions.postbox .conditions-tabs li, #woosidebars-conditions.postbox .conditions-tabs-inner li { background: none; border: 0; }
#woosidebars-conditions.postbox .conditions-tabs li a:focus, #woosidebars-conditions.postbox .conditions-tabs-inner li a:focus { outline: none; }
#woosidebars-conditions.postbox .conditions-tabs-inner li a { padding: 0 0.1em; }
